*, *:before,
*:after {
    box-sizing: border-box;
}

@font-face {
  font-family: 'MasonChronicles';
  src: url('../fonts/MasonChronicles.woff') format('woff'),
       url('../fonts/MasonChronicles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
    
    background-color: #141218;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: top right 20%;
    
}
.container {
    width: 95%;
    max-width: 1140px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 90px;
}
.menu__list {
    margin-right: auto;
    margin-left: 67px;
}
.menu__link {
    font-family: Roboto;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 24px;
}
.menu-button {
    display: none;
}
.social__link {
    margin-left: 20px;
    text-decoration: none;
}
.genre {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
    animation-delay: 0.1s;
}
.rating {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 10px;
    animation-delay: 0.3s;
}
.rating-number {
    font-size: 12px;
    line-height: 14px;
    margin-left: 9px;
}
.main-content {
    display: flex;
    align-items: center;
    margin-bottom: 85px;
}
.main-title {
    font-family: 'MasonChronicles', serif;
    font-size: 76px;
    line-height: 89px;
    margin-bottom: 10px;
    animation-delay: 0.5s;
}
.main-description {
    max-width: 461px;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 40px;
    animation-delay: 0.7s;
}
.button {
    display: inline-block;
    background-color: #9D2929;
    border-radius: 8px;
    padding: 22px 72px;
    border: 0;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    animation-delay: 1s;
}
.button:active {
    color: #fff; 
}
.play-img {
    position: relative;
    transform: translateX(5px);
}
.play {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9D2929;
    width: 100px;
    height: 100px;
    border: 0;
    border-radius: 50%;
    position: relative;
    margin: auto;
}
.play:before {
    content: '';
    width: 132px;
    height: 132px;
    background-color: #9D2929;
    opacity: 0.5;
    position: absolute;
    border-radius: 50%;
    left: -16px;
    top: -16px;
    animation: pulse 0.5s ease-in-out 2s infinite ;
}

/*Slider*/
.swiper-container{
    max-width: 420px;
    margin-left: 0;
}
.series {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
    max-width: 420px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 13px;
    width: 164px;
    height: 113px;
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%);
    border-radius: 8px;
    margin-right: 30px;
}

.card-subtitle {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 2px;
}
.card-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.series-1 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.series-2 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.series-3 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.series-4 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.series-5 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.series-6 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.series-7 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.series-8 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.arrow {
    width: 32px;
    height: 23px;
    border: none;
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.swiper-slide { 
  opacity: 0
  transition: all .65s
}
.swiper-slide-active, .swiper-slide-next, .swiper-slide-prev {
  opacity: 1
}
.swiper-slide-prev{
  opacity: 1
}
/*Footer*/
.footer {
    margin-top: auto;
    background-color: #141218;
    padding: 20px 0;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-link {
    text-decoration: none;
    color: #3A383D;
    margin-left: 25px;
}
.copyright {
    color: #3A383D;
}

/*
Responsive*/
@media (max-width: 760px) {
    .play {
        display: none;
    }
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .copyright {
        display: block;
        margin-bottom: 8px;
        
    }
    .footer-link:first-child {
        margin-left: 0;
    }
}


@media(max-width: 540px) {
    .menu-button {
        display: block;
        position: absolute;
        top: 40px;
        right: 35px;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transition: transform 0.2s;
        border: none;
        cursor: pointer;
        z-index: 2;
    }
    .menu-button:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transition: transform 0.2s;
        margin-top: -7px;
    }
    
     .menu-button:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transition: transform 0.2s;
        margin-top: 7px;
    }
    .menu-button-active {
        height: 0;
    }
    .menu-button-active:before {
        transform: rotate(45deg);
        margin-top: 0;
    }
    .menu-button-active:after {
        transform: rotate(-45deg);
        margin-top: 0;
    }
    .header {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #9D2929;
        width: 250px;
        padding: 24px;
        padding-bottom: 40px;
        z-index: 1;
        
    }
    .header-active {
        display: flex;
    }
    .logo {
        margin-bottom: 25px;
    }
    .menu__list {
        margin: auto;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu__link {
        margin-right: 0;
        margin-bottom: 17px;
    }
    .social {
        order: 1;
        margin-bottom: 22px;
    }
    .social-link:first-child {
        margin-left: 0;
    }
    .swiper-container {
        width: 80%;
        
    }
    .main-content {
        margin-top: 196px;
    }
    .main-title {
        font-size: 56px;
    }
    .series {
        width: 80%;
    }
}












































