@font-face {
  font-family: 'MasonChronicles';
  src: url('../fonts/MasonChronicles.woff') format('woff'),
       url('../fonts/MasonChronicles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
    
    background-color: #141218;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    
}
.container {
    max-width: 1140px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 90px;
}
.menu__list {
    margin-right: auto;
    margin-left: 67px;
}
.menu__link {
    font-family: Roboto;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 24px;
}
.social__link {
    margin-left: 20px;
    text-decoration: none;
}
.genre {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
}
.rating {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 10px;
}
.rating-number {
    font-size: 12px;
    line-height: 14px;
    margin-left: 9px;
}
.main-content {
    display: flex;
    align-items: center;
}
.main-title {
    font-family: 'MasonChronicles', serif;
    font-size: 76px;
    line-height: 89px;
    margin-bottom: 10px;
}
.main-description {
    max-width: 458px;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 40px;
}
.button {
    background-color: #9D2929;
    border-radius: 8px;
    padding: 22px 72px;
    border: 0;
    color: #fff;
}
.play-img {
    position: relative;
    transform: translateX(5px);
}
.play {
    background: #9D2929;
    width: 100px;
    height: 100px;
    border: 0;
    border-radius: 50%;
    position: relative;
    margin: auto;
}
.play:before {
    content: '';
    width: 132px;
    height: 132px;
    background-color: #9D2929;
    opacity: 0.5;
    position: absolute;
    border-radius: 50%;
    left: -16px;
    top: -16px;
}















